.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  .home-card {
    display: flex;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 450px;
    border: 1px solid $black;
    margin: 10px;

    .home-header {
      height: 50px;
      background: $black;
      padding: 15px 25px;
      color: $white;

    }

    .label {
      color: $black;
    }

    .home-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 25px;
    }
  }
}