$white: #fff;
$lightblue: #58BFE8;
$blueblack: #262628;
$whiteglass: rgba(#fff, 0.87);
$black: #222;
$coalglass: rgba(#000, 0.8);

$activecell: #aaa;
$highlightedcell: #eee;

$gray: #ddd;
$gray-dark: #a0a0a0;
$gray-light: #fafafa;
$gray-active: #f7f7f7;
